<h2>Cats</h2>
<%= link_to "Add a new cat", new_cat_path %>

<% @cats.each do |cat| %>
  <div>
    <h3>Name: <%= cat.name %></h3>
    <h3>Breed: <%= cat.breed %></h3>
    <h3>Age: <%= cat.age %></h3>
    <h3>Sex: <%= cat.sex %></h3>
    <h3>Price: <%= cat.price %></h3>
    <h3>Description: <%= cat.description %></h3>
    <h4>Created by <%= cat.user.email %></h4>
    <%= link_to "Show", cat_path(cat.id)  %>
    <% if user_signed_in? && current_user.cats.include?(cat) %>
      <%= link_to "Delete", cat_path(cat.id), method: :delete %>
    <% end %>
  </div>
<% end %>

<h2>Email Us</h2>
<p>
Email us at <br>
<b>info@catadoptionagency.com.au</b> or fill in the form below
</p>

<h2>Call Us</h2>
<p>
Within Australia Tel :(02) 9600 0000 <br>
International Tel: +61 2 9600 0000 <br><br>

<b>Business Hours</b><br>
Monday - Friday 9:00am - 5:00pm <br>
Saturday 9:00am - 3:00pm <br><br>

Sunday CLOSED
</p>

<h2>Talk to us in person</h2>
Level 2/7 Kelly St, Ultimo, Australia <br><br>

<b>Please make an appointment</b> just incase the pet you're interestd in is adopted. <br><br>


<div class="container">
  <form action="action_page.php">

    <label for="fname">First Name</label>
    <br>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">
    <br>
    <label for="lname">Last Name</label>
    <br>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">
    <br>
    <label for="subject">Subject</label>
    <br>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
    <br>

    <input type="submit" value="Submit">

  </form>
</div>
