<div class="container p-3 my-3 border">
  <h3>Name: <%= @cat.name %></h3>
  <h3>Breed: <%= @cat.breed %></h3>
  <h3>Age: <%= @cat.age %></h3>
  <h3>Price: $<%= @cat.price %>.00</h3>
  <h3>Description: <%= @cat.description %></h3>
</div>
<button type="button" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">
<%= link_to "Back", cats_path %>
</button>